@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  --color-tomato: hsl(4, 100%, 67%);
  --color-slate: hsl(234, 29%, 20%);
  --color-charcoal: hsl(235, 18%, 26%);
  --color-grey: hsl(231, 7%, 60%);
  --color-white: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;
}

h1{
  color: var(--color-slate);
  font-size: 55px;
}

p{
  font-size: 16px;
}

body{
  background-color: var(--color-charcoal);
  overflow-x: hidden;
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: row;
  background-color: var(--color-white);
  border-radius: 40px;
  width: 940px;
}

.left-box{
  display: flex;
  flex-direction: column;
  margin: 100px 60px;
  width: auto;
  gap: 40px;
  line-height: 1.5em;
}

ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
}

li{
  display: flex;
  gap: 12px;
}

form{
  display: flex;
  flex-direction: column;
}

.email-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.email-address{
  font-size: 11px;
  font-weight: bold;
  height: auto;
}

.error{
  display: none;
  font-size: 11px;
  font-weight: bold;
  height: auto;
  color: var(--color-tomato);
}

.error.errado{
  display: block;
}

.email{
  display: flex;
  padding: 15px 25px;
  border-radius: 10px;
  border-style: ridge;
  border-color: var(--color-white);
  cursor: pointer;
}

.email.errado{
  border: 2px solid var(--color-tomato);
}

.email.errado:defined{
  background-color: hsla(4, 69%, 76%, 0.438);
  color: red;
}

.email:focus{
  outline: none;
}

.button{
  display: flex;
  justify-content: center;
  padding: 20px 35px;
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-slate);
  border-radius: 10px;
  margin-top: 25px;
}

.button:hover{
  background: linear-gradient(to right,hsla(328, 75%, 61%, 0.837), hsl(4, 100%, 67%) );
  border-style: none;
  box-shadow: 0px 22px 50px -21px hsl(4, 100%, 67%);
  cursor: pointer;
}

.right-box{
  display: flex;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

#illus-mob{
  display: none;
}

.validation{
  background-color: var(--color-white);
  height: 500px;
  width: 480px;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px;
  height: 380px;
  gap: 15px;
}

.confirm{
  width: 64px;
  object-fit: cover;
}

.thanks{
  font-size: 50px;
}

.text-thank{
  line-height: 1.8em;
  font-size: 14px;
}

.bt1{
  display: flex;
  justify-content: center;
  padding: 20px 35px;
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-slate);
  border-radius: 10px;
  margin-top: 25px;
}

.bt1:hover{
  background: linear-gradient(to right,hsla(328, 75%, 61%, 0.837), hsl(4, 100%, 67%) );
  border-style: none;
  box-shadow: 0px 22px 50px -21px hsl(4, 100%, 67%);
  cursor: pointer;
}

@media (max-width: 1050px){

  .container{
    width: 100%;
    height: 100svh;
  }

  .content{
    width: 390px;
    height: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }

  h1{
    font-size: 40px;
  }

  .left-box{
    margin: 50px 30px;
    height: auto;
  }

  .button{
    margin-top: 25px;
  }

  #check{
    height: 21px;
  }

  .right-box{
    width: 100%;
    margin: 0;
    height: auto;
  }

  #illus-desk{
    display: none;
  }

  #illus-mob{
    display: block;
    width: 100%;
    height: 100%;
  }

  .validation{
    width: 390px;
    height: 100vmax;
    border-radius: 0;
  }

  .box{
    height: auto;
    margin: 150px 25px 40px 25px;
    gap: 2rem;
  }

  .thanks{
    font-size: 40px;
  }
  
  .textThanks{
    font-size: 16px;
  }

  .bt1{
    margin-top: 200px;
  }

}